*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    padding: 5px 20px;
    background-color: rgb(4, 140, 208);
    color: white;
}
header article{
    display: flex;
    gap: 10px;
}
.theme{
    width: 70px;
    height: 30px;
    background-color: rgb(250, 244, 244);
    border: transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 4px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}
option{
    color: black;
}
.bolha{
    width: 30px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    position: relative;
    transition: all .2s .1s linear;
    
}
.bolha.dark{
    left: 30px;
    background-color: white;
}
header.dark{
    background-color: rgb(0, 45, 66);

}
.theme.dark{
    background-color: black;
}
body.dark{
    background-color: rgb(0, 0, 0);
    color: white;
}
main article.dark{
    background-color: black;
}
main nav.dark{
    background-color: rgb(59, 59, 59);
    color: white;
}
.main h3.dark{
    color: white;
}
main nav.dark a{
    color: white
}
input.dark,select.dark{
    color:white;
    border: solid white 1px;
}

.users img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cirlce{
    width: 20px;
    height: 20px;
    border: dotted white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
}
.logo h3{
    font-size: 22px;
}
main{
    background-color: rgba(233, 227, 227, 0.53);
    height: 89.2vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1px;
}
main nav{
    display: flex;
    width: 20%;
    gap: 15px;
    position: fixed;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 10px;
    border: transparent;
    left: 0;
}
main article{
    width: 80%;
    height:100%;
    flex-direction: column;
    display: flex;
    position: fixed;
    right: 0;
    gap: 50px;
    padding: 50px;
    padding-bottom: 100px;
    height: 100vh;
    padding-top: 10px;
    overflow: hidden;
    overflow-y: scroll;
}
article section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

nav .main{
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    gap: 5px;
}
.main h3{
    color: #444;
}
.main hr{
    border: 1px solid rgb(4, 140, 208);
}
.main a{
    text-decoration: none;
    font-size: 13pt;
    color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    padding-left: 5px;
    transition:all.2s ease-in-out;
    border:transparent;
    background-color: transparent;
    align-items: center;
}

#flash-msg{
    background-color: rgb(230, 6, 6);
    position: relative;
    right: 0;
    top: 500px;
    height: 70px;
    display: none;
    padding-left: 5px;
    font-size: 13pt;
    font-family: serif;
    color: white;
    width: 300px;
    z-index: 9999;
    border-radius: 5px;
    animation: subir 4s ;
    margin-left: 5px;
    flex-direction: column;
    padding-top: 5px;
    transition: all .5s ease-in-out;
}
@keyframes subir {
    from{
        transform: translateY(500px);
    }to{
        transform: translateY(40px);
    }
    
}

.main a.active{
    background-color:rgb(6, 53, 77);
    color: white;

}
.main a:hover{
    background-color: rgba(12, 145, 212, 0.823);
    color: white;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(224, 223, 223, 0.825);
}
::-webkit-scrollbar-thumb{
background-color: rgb(4, 140, 208);
    height: 10px;
    border-radius: 8px;
}


.paineis{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20px;
    gap: 20px;
}
.painel{
    width: 400px;
    padding: 10px ;
    color: white;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 100px;
    font-family: sans-serif;
    align-items: center;
    transition: all .5s linear;
    cursor: pointer;
    background-color: red;
    
}
.painel:hover,.bar:hover,.curso:hover{
    scale: 1.02;
    box-shadow: 5px 5px 9px rgba(128, 128, 128, 0.641);
}

.painel h3{
    font-size: 15pt;
}
.painel1{
    background: linear-gradient(45deg , rgba(52, 228, 52, 0.75) , rgba(5, 172, 5, 0.79) , rgba(10, 152, 10, 0.96),rgba(9, 122, 9, 0.97));
}
.painel2{
    background: linear-gradient(45deg,rgb(4, 140, 208),rgb(7, 100, 147),rgb(11, 84, 120),rgb(14, 63, 88));
}
.painel3{
    background: linear-gradient(45deg,rgba(255, 255, 0, 0.812),rgba(204, 204, 6, 0.884), rgba(151, 151, 5, 0.838),rgba(116, 116, 2, 0.734))

}
.grafico{
    display: flex;
    width: 90%;
    height: 320px;
    gap: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.linhas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.graficolinha{
    display: flex;
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: -100px;
}
.graficolinha .rotolos{
    display: flex;
    flex-direction: column;
   
}
.graficolinha .rotolos h3{
    height: 50px;
    padding-top: 15px;
}
.barras{
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: end;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.graficolinha .bar{
    width: 1000px;
    height: 50px;
    
}
.graficolinha .brs{
    display: flex;
    flex-direction: column;
}
.barras .brs{
    display: flex;
    gap: 20px;
    align-items: end;
}
h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 16pt;
    font-weight: normal;
}
.rotolos h3{
    width: 100px;
    text-align: center;
}
.rotolos{
    display: flex;
    color: rgb(4, 140, 208);
    width: 100%;
    gap: 20px;
}
.bar{
    width: 100px;
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    color: white;
}
.cor2{
    background-color: rgb(190, 190, 5);
    height: 100px;
}
.cor3{
    background-color: rgb(4, 140, 208);
    height: 150px;
}
.cor4{
    background-color: orange;
    height: 200px;
}
.cor5{
    background-color: rgb(11, 122, 122);
    height: 250px;
}
.cor6{
    background-color: darkcyan;
    height: 300px;
}
.cor7{
    background-color: green;

    height: 320px;
    
}
#ln0{
    width: 1000px;
}
#ln1{
    width: 900px;
}
#ln2{
    width: 800px;
}
#ln3{
    width: 700px;
}
#ln4{
    width: 600px;
}
#ln5{
    width: 500px;
}
#ln6{
    width: 400px;
}
.cursos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.curso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px ;
    padding: 20px;
    border-radius: 8px 8px 8px 50px;
    background-color: rgb(26, 45, 54);
    color: white;
    width: 300px;
    transition: all .5s linear;
    cursor: pointer;
}
.imgcurso{
    height: 150px;
}
.imgs img{
    height: 30px;
    margin-top: 15px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    width: 800px;
    
}

input,select{
    width: 800px;
    height: 40px;
    font-size: 13pt;
    color: #444;
    padding: 4px;
    border: 1.5px solid  ;
    background-color: transparent;
}
.navigator,.navigator1,.navigator2,.navigator3{
    display: flex;
    gap: 50px;
    padding: 20px;
}
.navigator button,.navigator1 button,.navigator2 button,.navigator3 button{
    width: 100px;
    padding: 5px;
    background-color: white;
    border: solid 1px ;
}
.navigator button.active1,.navigator1 button.active1,.navigator2 button.active1,.navigator3 button.active1{
    background-color: rgba(29, 184, 29, 0.926);
    color: white;
}
button{
    cursor: pointer;
    transition: all .4s linear;
}
button:active{
    transform: translateY(5px);
}

form button{
    height: 37px;
    border: transparent;
    background-color: rgba(29, 184, 29, 0.926);
    color: white;
    font-size: 13pt;
}
.credenciais > div{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.credenciais>div> div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.verif{
    width: 700px;
    display: flex;
}

.hiden{
    display: none;
}
.how{
    display: flex;
}

.credenciais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    flex-direction: column;
    border: solid 1px;
    padding: 20px ;
    text-align: center;
}
.cur img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.cur p{
    margin-top: 30px;
}
.deletarCursoBtn{
    background-color: red;
}
.cur{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 800px;
    background-color: rgb(4, 140, 208);
    padding: 20px;
    color: #fff; 
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s linear;
}
.cur:hover{
    box-shadow: 5px 5px 9px rgba(4, 140, 208, 0.693);
}

#allcurs{
    height: auto;
}
.userdata{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #d6d5d5df;
    padding: 50px;
    width: 600px;
    line-height: 30px;
    border-radius: 30px;
}
.userdata img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}